@font-face{
  font-family: "Apple II";
  src: url('font.ttf');
}

body {
  color: #00ee00;
  background: #111111;
  font-size: 2vh;
  font-family: "Apple II";
  line-height: 4vh;
}

.img {
  white-space: pre;
}

#output {
  width: 95vw;
  height: 80vh;
  margin-bottom: 2vw;
  overflow-y: scroll;
  padding: 2vw;
}

#output div {
  margin-bottom: 1vw;
}

#input {
  width: 98.5vw;
  height: 10vh;
  color: #00ee00;
  background: #111111;
  position: fixed;
  bottom: 0;
  font-size: 2vh;
  font-family: "Apple II";
}