@font-face{
  font-family: "Apple II";
  src: url('font.ttf');
}

body {
  color: #00ee00;
  background: #111111;
  font-size: 2vh;
  font-family: "Apple II";
  line-height: 4vh;
}

.img {
  white-space: pre;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#output {
  padding: 2vw 2vw 0 2vw;
}

#output div {
  margin-bottom: 1vw;
}

#input {
  height: 4vh;
  width: 98.5vh;
  color: transparent;
  text-shadow: 0 0 0 #00ee00;
  background: #111111;
  font-size: 2vh;
  font-family: "Apple II";
  border: none;
}

span {
  margin-left: 2vw;
}

#input:focus {
  outline: none;
}

#caret {
  width: 1vw;
  height: 2vw;
  background: #00ee00;
  animation: blink 0.5s infinite;
  display: inline-block;
  position: relative;
  top: 0.5vh;
}

@keyframes blink {
    0%{     background: #00ee00;    }
    49%{    background: #00ee00; }
    60%{    background: transparent; }
    99%{    background: transparent;  }
    100%{   background: #00ee00;    }
}
