@font-face{
  font-family: 'Apple II';
  src: url('fonts/font.ttf');
}

body {
  color: rgb(255, 61, 25);
  font-size: 2.2vh;
  font-family: 'Apple II';
  line-height: 4vh;
  /* screen glow */
  background-image: radial-gradient(
    rgb(21, 5, 2), black 120%
  );
  /* text glow */
  text-shadow: 0 0 5px rgba(13, 170, 0, 0.69);
}

/* scanlines */
body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(rgba(237, 237, 237, 0.03) 0.5vh, rgba(0, 0, 0, 0.05) 0.8vh);
}

/* highlight color */
::selection {
  background: rgba(255, 60, 24, 0.44); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(255, 60, 24, 0.44); /* Gecko Browsers */
}

.img {
  white-space: pre;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#output {
  padding: 2vw 2vw 0 2vw;
}

#output div {
  margin-bottom: 1vw;
}

#input {
  height: 4vh;
  width: 98.5vh;
  color: #18ff2a;
  background: transparent;
  font-size: 2vh;
  font-family: "Apple II";
  border: none;
  position: relative;
  bottom: 0.175vh;
}

span {
  margin-left: 2vw;
}

#input:focus {
  outline: none;
}

@keyframes blink {
  0% {background: #18ff2a;}
  49% {background: #18ff2a;}
  60% {background: transparent;}
  99% {background: transparent;}
  100% {background: #18ff2a;}
}
