#input {
  color: transparent;
  text-shadow: 0 0 0 orange;
}

#caret {
  width: 1vw;
  height: 2vw;
  background: orange;
  animation: blink 0.5s infinite;
  display: inline-block;
  position: relative;
  top: 0.3vh;
}
